.cart {
    @include flex(column, grow);
}

.cart-header {
    @include flex();
    font-size: larger;
    color: white;
    padding: v(4) v(6);
    background: $background;

    @include maxpoint(lg) {
        display: none;
    }
}

.cart-header-wrapper,
.cart-checkout-header-wrapper,
.cart-group {
    @include max(lg);
    margin: 0 auto;
    width: 100%;
}

.cart-header-wrapper {
    @include flex(centerY, between);
}

.cart-navigation-option {
    @include flex(center);
    padding: v(1);
    height: v(8);
    gap: v(1);
    position: relative;
}

.cart-checkout-header {
    @include flex;
    color: white;
    padding: v(4) v(6);
    background: $background;
}

.cart-checkout-header-wrapper {
    @include flex(between);
}

.cart-checkout-options {
    @include flex;
    gap: v(2);
}

.cart-groups {
    @include flex(column);
    gap: v(6);
    padding: 0 v(6) v(6);
    overflow: auto;
    height: 100%;
}

.cart-group {
    @include flex(column);
    background: white;
    border-radius: v(4);
    gap: v(4);
    padding: v(6);

    &.cart-group-empty {
        @include flex(center);
        height: 100%;
    }

    &.cart-group-all {
        flex-direction: row;
        justify-content: space-between;
        margin: 24px auto;
        padding: v(2) v(6);

        & .cart-group-all-selected {
            @include flex(centerY);
            gap: v(4);
        }
    }
}

.cart-group-unavailable .cart-item {
    filter: opacity(0.5);
}

.cart-group-seller {
    @include flex(centerY);
    gap: v(4);
}

.cart-group-remove {
    margin-left: auto;
}

.cart-group-products {
    @include flex(column);
    gap: v(4);
}

.cart-item {
    @include flex;
    gap: v(4);
}

.cart-item-image {
    @include flex;
    @include position(relative);
    width: 100px;
    height: 100px;
    border: 1px solid darkgray;
    border-radius: v(2);
    overflow: hidden;
}

.cart-item-details {
    @include flex(column, between, grow);
    padding: v(3);
}

.cart-item-name {
    @include ellipsis;
}

.cart-item-info {
    @include flex(between, centerY);
}

.cart-item-controls {
    @include flex;
}

.cart-item-controls > * {
    @include flex(center);
    width: v(8);
    height: v(8);
    padding: v(1);
    border: 1px solid black;
}
