.products {
    @include flex(column, grow);
    width: 100%;
    // padding: v(2);
}

.product-header {
    @include flex(column);
    background: $background;
    gap: v(3);
    padding: v(4) v(6);
}

.product-search {
    @include flex(grow);
    background: white;
    padding: v(2) v(3);
    border-radius: v(1);
}

.product-list-options {
    @include flex;
    gap: v(2);
}

.product-list-option-filter {
    @include flex;
    gap: v(2);
    overflow: auto;
}

.product-list-option {
    @include flex(center);
    white-space: nowrap;
    background: white;
    color: black;
    border-radius: v(2);
    padding: v(1) v(2);
    gap: v(1);
}

.product-list {
    @include flex(wrap);
    // height: 100%;
    background: #f3f3f3;
    overflow: auto;
    gap: v(6);
    padding: v(6);
}

.product {
    @include flex(column, grow);
    background: #f6f6f6;
    width: 200px;
    border-radius: v(2);
    box-shadow: 0px 1px 6px 0px #c3c3c3;
    overflow: hidden;
}

.product-image {
    @include flex(center);
    width: auto;
    height: 200px;
    background: white;
}

.product-toolbar {
    @include flex(between, centerY);
    padding: v(1) v(2);
}

.product-info {
    @include flex(column);
    min-width: 0;
}

.product-name {
    @include ellipsis;
}

.product-cart {
    @include flex(center);
    width: v(8);
    height: v(8);
}

.product-filters-modal {
    @include flex(column);
    @include position(absolute, stretch);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgb(128, 128, 128, 0.2);
    backdrop-filter: blur(20px);
    left: auto;
    z-index: 10;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;

    @include breakpoint(md) {
        width: 400px;
    }

    &.shown {
        opacity: 1;
        pointer-events: all;
    }
}

.product-filters-header {
    @include flex;
    color: white;
    background: $background;
    padding: v(5) v(4);
}

.product-filters-list {
    @include flex(wrap);
    padding: v(4) v(4);
    overflow: auto;
    gap: v(2);

    .category {
        @include flex(grow, centerX);
        text-align: center;
        padding: v(1) v(2);
        border: 1px solid black;

        &.active {
            border-color: #17d0c3;
        }
    }
}

.product-filters-controls {
    @include flex;
    padding: v(2) v(4);
    margin-top: auto;
    gap: v(2);
}

.product-filters-controls > * {
    @include flex(center);
    width: 100%;
    padding: v(2) v(4);
    border: 1px solid black;
    color: black;
}
